<footer>
    <div class="box">
      <!-- http://l-lin.github.io/font-awesome-animation/ -->
      <address>
        Контакты&nbsp;&nbsp;<a href="mailto:matt@example.com" class="faa-parent animated-hover"><i class="fa fa-envelope faa-horizontal"></i>&nbsp;Oleg Dolya</a>
      </address>
      <div class="footer-social">
        <a class="soc-itm pure-button bg-blue faa-parent animated-hover" href="#"><i class="fa fa-facebook fa-lg faa-tada"></i>&nbsp; Facebook</a>
        <a class="soc-itm pure-button bg-ligh-blue faa-parent animated-hover" href="#"><i class="fa fa-twitter fa-lg faa-tada"></i>&nbsp;  Twitter</a>
        <a class="soc-itm pure-button bg-red faa-parent animated-hover" href="#"><i class="fa fa-youtube fa-lg faa-tada"></i>&nbsp; YouTube</a>
      </div>
    </div>
  </footer>