<!DOCTYPE html>
<html>
<!--This is reference to placeholder 'head' of module 'main'-->
<head lang="en" id="main_head">
  @@include('main/placeholders/head.dust')
</head>
<body>
<div class="ns-box ns-bar ns-effect-slidetop ns-type-notice ns-hide"><div class="ns-box-inner"><i class="fa fa-bullhorn fa-3x"></i><p>You have some interesting news in your inbox. Go <a href="#">check it out</a> now.</p></div><span class="ns-close"></span></div>
  <header class="pure-menu">
    <a href="/" class="pure-menu-heading"><i class="fa fa-puzzle-piece"></i> Your Logo</a>
    <!--This is reference to placeholder 'navigation' of module 'pages'-->
    <nav id="pages_navigation">
      <a href="#" class="nav-item">Home</a>
      <a href="#" class="nav-item active">Pricing</a>
      <a href="#" class="nav-item">Contact</a>
    </nav>
  </header>
  <!--This is reference to placeholder 'index' of module 'pages'-->
  <div class="main" id="pages_index">
  @@include('home.html')
  </div>
  @@include('footer.html')
</body>
</html>
