// Base font size in used in _mixins.scss
$base-root-size: 16;
$default-fonts: sans-serif;

//colors https://github.com/mrmrs/colors/blob/master/sass/_variables.scss
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Gray Scale
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;

$colors-blue: #3b5998;
$colors-ligh-blue: #26c4f1;
$colors-red: #ce2616;

// Media
$break-smart: 480px;
$break-tablet: 768px;
$break-wide: 1000px;

// Base settings
$color-bg: $white;
$color-footer: #2e2e2e;
$color: #2e2e2e;
$header-heigh: 36px;
$max-width: 980px;
$min-width: 430px;

// Other settings
$static-path: "static"
